<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header header-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Обо мне</h1>
                    <hr class="small">
                    <div class="subheading"><span>Почему и зачем</span></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			О том, что внутри нас есть еще один мир, я задумался еще будучи подростком, после спонтанного
			внетелесного опыта. Спустя несколько лет я убедился, что осознанный контакт со своим подсознанием
			возможен, и на это способен любой человек. Этот сайт создан для тех, кто ищет. Себя, или себя
			внутри себя - не важно как это называть. Так или иначе, в конце жизненного пути, в момент смерти, 
			нам всем придется столкнуться лоб в лоб со своим внутренним "Я". То, о чем рассказывается на этом
			сайте, позволит пообщаться со своим подсознанием, побороть внутренние страхи, найти ответы
			на многие вопросы, излечить болезни, побывать в любом месте Вселенной и многое другое.
		
		
            <p>
                Первый раз с феноменом фазы (внетелесным опытом, астралом, осознанным сном -
                называйте как хотите)
                я столкнулся в пятнадцать лет, в середине девяностых: у меня произошел спонтанный
                выход на пробуждении
                посреди ночи. Точнее мне показалось, что я проснулся и лежу диване с мыслью, что
                надо засыпать обратно, а то завтра в школу. Удивило то, что комната была
                подсвечена,
                хотя за окном было темно. И в этот момент открылась дверь и вошла девушка, которая
                мне очень нравилась. Она села рядом, мы разговаривали, я держал ее руки в своих,
                а потом она легла рядом и забралась ко мне под одеяло. Все ощущения были настолько
                реальными и четкими, что проснувшись утром я был в полном шоке и первым делом
                позвонил этой девушке с глупейшим вопросом: "Что ты делала сегодня ночью?" На что
                получил ожидаемый ответ: "Спала". Друзья посмеялись над историей, а я себя убедил,
                что это был просто яркий сон: юному биологу-материалисту неприличествует верить в
                подобную чушь.
            </p>

            <p>
                Таким образом, мне удалось оградить свои юношеские мозги от того низкопробного
                эзотерического мусора, которым были наводнены полки книжных магазинов того
                времени.
                Но, как вы уже догадались, история на этом не закончилась.
            </p>

            <p>
                Спустя пятнадцать лет
                я столкнулся с сонным параличом. В то время я много работал, до самого отхода ко
                сну. Бросил биологию, переквалифицировался в программиста, писал код чуть ли не
                круглосуточно. Что в итоге и принесло "плоды" в виде сонного паралича. Ужас,
                который мне пришлось испытать в первый раз словами передать невозможно. Я уже
                засыпал,
                как внезапно накатил шум, будто мой слух обострился многократно. Я открыл глаза.
                Было полное осознание происходящего,
                а происходило нечто совершенно невообразимое: я видел свою комнату, но она была
                освещена чуть лучше, чем когда я ложился спать и обстановка не совсем
                соответсвовала тому, что было, когда я ложился. Стулья, например, стояли иначе.
                Но самый ужас заключался в том, что я оказался парализован! В месте с тем, я
                понимал,
                что это явный глюк организма, связанный со сном, и мне надо просто проснуться. С
                огромным
                усилием мне удалось вырваться. Комната потемнела, вещи встали на свои места,
                сердце бешено
                колотилось. После чего я заснул, но уже нормально. Но на следующую ночь произошло
                тоже
                самое и так продолжалось, пока я не стал пить на ночь валерьянку и давать перед
                сном
                мозгу возможность перестать думать о работе. Изучение литературы показало: явление
                вполне обычное и известное. Избавившись от параличей, я надолго забыл обо всех
                вещах,
                которые были связаны со сном.
            </p>

            <p>
                Однажды утром я собрался на работу, но решил остаться, чувствуя, что простыл. Лег
                обратно, хотя чувствовал, что, в принципе, уже выспался. Сон получился прерывистым,
                снилась какая-то невнятная муть, но потом я обнаружил себя стоящим посреди своей
                комнаты. На диване я увидел себя спящего. "Что это, выход из тела? Сон?" - спросил себя
                я, и в этот момент все вокруг стало как-то четче. Я растерялся, что делать дальше - было
                совершенно неизвестно. Не придумал ничего лучше, чем подойти к своему телу и начать его
                расталкивать. Поразился ощущению, что чувствую сопротивление: тело имело плотность и вес.
                Разбудить себя подобным образом не удалось. Войти обратно, как это изображают в мистических
                фильмах, мне тоже не удалось - фантомное тело также имело плотность. Тогда я просто лег рядом
                и расслабился. Через мгновение я проснулся.
            </p>

            <p>
                Тут уже сомнений не оставалось: надо изучать матчасть. Ютуб, эзотерические форумы,
                мнения бывалых астральщиков... Но очень быстро стало понятно, что вся эта мистика
                - не для меня. Мне требовался практический подход, без лишней энергетической и
                силовой шелухи. Так я вышел на книги и семинары Михаила Радуги. Запомнив нехитрый
                набор его техник выхода, я решился на эксперимент. Случай подвернулся через два
                дня. Во время дневного сна ко мне вернулся давно забытый "друг" - сонный паралич.
                Я, как и раньше, заставил себя проснуться, но мозг, настроившийся на фазу, отправил
                меня в паралич повторно. И опять я вырывался что было сил, лишь бы пробудиться. Да,
                вы поняли все правильно - меня парализовало в третий раз. С тем отличием, что я
                вспомнил: это мой шанс, можно "выкатиться". А выкатываться то страшно: лежу спиной к краю
                дивана. Поэтому решил перевернуться на живот и потом уже встать. Движения давались с
                трудом, фантомное тело было неуправляемое и тяжелое. Зрения не было абсолютно. Не знаю,
                сколько потребовалось времени, чтобы перевернуться и встать на четвереньки, но у меня это
                получилось. В этот момент я открыл свои физические глаза. Это самое странное на тот момент,
                что мне удавалось пережить. Я чувствовал, как упираюсь ладонями и коленями в диван, чувствую
                вес своего тела, а вместе с тем вижу, что я лежу на боку и смотрю в стену. "Охренеть" - произнес
                я уже в реальности, потому что из-за наплыва эмоций меня сразу выбросило в физическое тело.
            </p>
			
				Спустя пару дней я проснулся утром. По чистой случайности я не успел пошевелиться при пробуждении,
				и услышал свой голос: "Давай!". Лежал я опять спиной к краю дивана, но злость взяла верх: будь что будет!
			    Я выкатился спиной в бездну. В момент "выкатывания" из-за спины вспыхнуло голубоватое
				свечение, ощущение было как при взлете в самолете... И я стою на ногах. Ничего не вижу, но
				это не вызывает страх. Сразу вспоминаю о техниках: углубиться, закрепиться. Встаю на колени, ощущаю
				руками пол. Куда тыкаться руками - не знаю, неизвестно, что я нащупаю в этой темноте. Встаю, как  
				стоял изначально во весь рост, тру руки, кричу с досадой: "Давай картинку, ёкорный бабай!" - и картинка
				появляется. Моя квартира, только диван стоит не там, где должен быть. И стены, не знакомые обои, а
				отделка под кирпич. Сначала решил, что это голый кирпич, но, вглядевшись, понял, что это именно отделка. 
				На стенах - светильники, в неожиданных местах, но идеально вписывающиеся в обстановку. И дверь из квартиры.
				Я сразу понял, что мне туда, но едва я дошел до двери и взялся за ручку, меня выбросило в тело.
				
				Разумеется, после этих опытов, сомнений уже не оставалось: феномен не только существует, но и
				воспроизводим практичеки. Я понял, что изучение этого состояния отныне является частью моей
				жизни, и я просто обязан заняться его изучением и продолжать практиковаться. 
        </div>
    </div>
</div>