<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header header-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>ReSampled.Dream</h1>
                    <hr class="small">
                    <div class="subheading"><span>Альтернативная реальность</span></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% data.each(function(model, i) { %>
            <div class="post-preview">
                <a href="/post/<%= model.get("id") %>">
                    <h2 class="post-title">
                        <%= model.get("title") %>
                    </h2>

                    <% if(model.get("teaser")){ %>
                    <h3 class="post-subtitle">
                        <%= model.get("teaser") %>
                    </h3>
                    <% } %>
                </a>

                <p class="post-meta"><%= model.get("created") %></p>
            </div>
            <% if (i != data.length - 1) { %>
            <hr>
            <% } %>
            <% }); %>
        </div>
    </div>
</div>