<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header header-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>404</h1>
                    <hr class="small">
                    <div class="subheading"><span>Страница не найдена</span></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>К сожалению, запрашиваемая страница не найдена.</p>

            <p>Ошибка 404 обозначает, что запрошенному вами URL не соответствует никакая страница сайта. Этому могут быть две причины: ссылка неверна или ранее существовавшая страница была удалена.</p>

            <p>Получив вместо страницы сообщение об ошибке, тщательно проверьте написание адреса - возможно, вы просто ошиблись при наборе.</p>
        </div>
    </div>
</div>